{
    "AAE_test":{
        // creates 280 experiments, 300-900 MTBF(7 experiments) and 0.1-4.0 step 0.1 checkpoint error (40 experiments)
        "input":{
            "node-sweep":{
                "range":[1]
            },
            "SMTBF-sweep":{
                //7 experiments

                "compute-SMTBF-from-NMTBF": true,
                "min":300,
                "max":900,
                "step":100
            },
            "checkpointError-sweep":{
                //40 experiments

                "min":0.1,
                "max":4.0,
                "step":0.1   //you can change the step, to say 0.2, if you wish to lower the amount of experiments
            },
            "checkpoint-sweep":{
                "range":["optimal"]
            },
            "forward-profiles-on-submission": true,
            "batsched-policy": "fcfs_fast2",
            "checkpoint-batsim-requeue":true,
            "checkpoint-batsim-signal":37,
            "start-from-checkpoint-keep":3,
            "discard-old-logs":0,
            "checkpointing-on":true,
            "queue-policy":"ORIGINAL-FCFS",
            "synthetic-workload":{
                "type":"parallel_homogeneous",
                "machine-speed":1,
                "number-of-jobs":100000,
                "number-of-resources":"1:fixed",
                "submission-time":"0:fixed",
                "duration-time":"1000:exp", //you can change this to "500:exp" if you wish to shorten the simulation time
                "read-time":2,
                "dump-time":2
            }
        },
        "output":{
            "avg-makespan":1
        }

    }
}