{
"grizzly_2018_resv":{
        "input": {

                "node-sweep":{
                    "range":[1490]

                },


                "performance-sweep":{
                    "range":[1.0]
                },

                "reservation-sweep":{
                        "name":"resv1",

                        "reservations-array":[
                                {
                                        "{-1} subdivisions":"[1]",
                                        "{-1} subdivisions-unit":"[1]month [00]:[00]:[00]",
                                        "subdivisions":"[4]",
                                        "subdivisions-unit":"[1]month [00]:[00]:[00]",
                                        "{1} subdivisions-unit":"[2,4,8]days [00]:[00]:[00]"
                                        "

                                }

                        ]
                },
                "reservations-resv1":{

                       "reservations-array":[
                          {
                            "type":"parallel_homogeneous", 
                            "machines":{
                                 "prefix":"a",
                                 "machine-speed":1,
                                 "total-resources":"0-1489",
                                 "interval":"0-1489"
                            },
                            "repeat-every":"1month 0days 00:00:00",
                            "time":"00:480:00",
                            "start":"1month 0days 12:00:00",
                            "submit":-1,
                            "count": 15
                         },
                         {

                         }

                      ]
                },
                    "forward-profiles-on-submission":true,
                    "batsched-policy":"conservative_bf",
                    "grizzly-workload":{
                                        "type":"parallel_homogeneous",
                                        "machine-speed":1,
                                        "reservations":"resv1",
                                        "force-creation":true,
                                        "input":"sanitized_jobs.csv",
                                        "wallclock-limit":"101%",
                                        "time":":"

                                       }
                },
                "output": {
                    "avg-makespan":1,
                     "reservations-start": {
                            "runs-before":23,
                            "runs-after":23,
                            "include-base":true,
                            "orders":[
                                {
                                    "order-number":0,
                                    "random":true,
                                    "spread-before":"14days 00:00:00",
                                    "spread-after":"14days 00:00:00"
                                }
                            ]

                    }


                }

        }


}
