{
    "grizzley_resv_1": {
        "input": {
            "node-sweep": {
                "range": [
                    1490
                ]
            },
            "performance-sweep": {
                "range": [
                    1.0
                ]
            },
            "reservations-resv1": {
                "reservations-array": [
                    {
                        "type": "parallel_homogeneous",
                        "machines": {
                            "prefix": "a",
                            "machine-speed": 1,
                            "total-resources": "0-1489",
                            "interval": "0-1489"
                        },
                        "repeat-every": "1months 0days 00:00:00",
                        "time": "09:00:00",
                        "start": "30days 00:00:00",
                        "submit": -1,
                        "count": 30
                    }
                ]
            },
            "forward-profiles-on-submission": true,
            "batsched-policy": "conservative_bf",
            "grizzly-workload": {
                "type": "parallel_homogeneous",
                "machine-speed": 1,
                "reservations": "resv1",
                "input": "sanitized_jobs.csv",
                "wallclock-limit": "101%",
                "time": "01-01-2018:02-01-2018"
            }
        },
        "output": {
            "avg-makespan": 1
        }
    },
    "grizzley_resv_2": {
        "input": {
            "node-sweep": {
                "range": [
                    1490
                ]
            },
            "performance-sweep": {
                "range": [
                    1.0
                ]
            },
            "reservations-resv1": {
                "reservations-array": [
                    {
                        "type": "parallel_homogeneous",
                        "machines": {
                            "prefix": "a",
                            "machine-speed": 1,
                            "total-resources": "0-1489",
                            "interval": "0-744"
                        },
                        "repeat-every": "1months 0days 00:00:00",
                        "time": "09:00:00",
                        "start": "30days 00:00:00",
                        "submit": -1,
                        "count": 30
                    }
                ]
            },
            "forward-profiles-on-submission": true,
            "batsched-policy": "conservative_bf",
            "grizzly-workload": {
                "type": "parallel_homogeneous",
                "machine-speed": 1,
                "reservations": "resv1",
                "input": "sanitized_jobs.csv",
                "wallclock-limit": "101%",
                "time": "01-01-2018:02-01-2018"
            }
        },
        "output": {
            "avg-makespan": 1
        }
    }
}
