{
"3a":{
        "input": {
                                    
                "node-sweep":{
                    "range":[1490]
                    
                },


                "reservation-sweep":{
                        "name":"resv1",

                        "reservations-array":[
                                {
                                    
                                        "time":"[00]:[480]:[00]",
                                        "subdivisions":"[1]",
                                        "subdivisions-unit":"[7]days [00]:[00]:[00]",
                                       
                                        "{1} subdivisions":"[2,4,8]"
                                }
                                                                         
                        ]
                },
                "reservations-resv1":{
               
                       "reservations-array":[
                          {
                            "type":"parallel_homogeneous",
                            "machines":{
                                 "prefix":"a",
                                 "machine-speed":1,
                                 "total-resources":"0-1489",
                                 "interval":"0-1489"
                            },
                            "repeat-every":"7days 00:00:00",
                            "time":"09:00:00",
                            "start":"7days 12:00:00",
                            "submit":-1,
                            "count":10
                         }
                      ]
                },
                    "forward-profiles-on-submission":true,
                    "batsched-policy":"conservative_bf",
                    "queue-depth":1000,
                    "grizzly-workload":{
                                        "type":"parallel_homogeneous",
                                        "machine-speed":1,
                                        "reservations":"resv1",
                                      
                                        
                                        "input":"sanitized_jobs.csv",
                                        "wallclock-limit":"101%",
                                        "time":"02-01-2018:04-01-2018"
                                                                                
                                       }
                },
                "output": {
                    "avg-makespan":1,
                    "bins":"[0,2,4,8,16,32,64,128,256,512,1024,+]"
                
                }

        }
}

