{
    "1a":{
        "input":{
            "node-sweep":{
                "min":100,
                "max":150,
                "step":10
            },
            "batsim-log":"info",
            "batsched-log":"CCU_DEBUG",
            "batsched-policy":"fcfs_fast2",
            "synthetic-workload":{
                "type":"parallel_homogeneous",
                "machine-speed":1,
                "number-of-jobs":50000,
                "submission-time":"0:fixed",
                "number-of-resources":"10:100:unif",
                "duration-time":"43200:exp",
                "seed":10
            }

        },
        "output":{
            "avg-makespan":1

        }
    },
    "1b":{
        "input":{
            "node-sweep":{
                "min":100,
                "max":150,
                "step":10
            },
            //"batsim-log":"info",
            //"batsched-log":"CCU_DEBUG",
            "batsched-policy":"fcfs_fast2",
            "synthetic-workload":{
                "type":"parallel_homogeneous",
                "machine-speed":1,
                "number-of-jobs":50000,
                "submission-time":"0:fixed",
                "number-of-resources":"10:100:unif",
                "duration-time":"86400:exp",
                "seed":10
            }
        },
        "output":{
            "avg-makespan":1
        }
    },
    "1c":{
        "input":{
            "node-sweep":{
                "min":100,
                "max":150,
                "step":10
            },
            //"batsim-log":"info",
            //"batsched-log":"CCU_DEBUG",
            "batsched-policy":"fcfs_fast2",
            "synthetic-workload":{
                "type":"parallel_homogeneous",
                "machine-speed":1,
                "number-of-jobs":50000,
                "submission-time":"0:fixed",
                "number-of-resources":"10:100:unif",
                "duration-time":"129600:exp",
                "seed":10
            }
        },
        "output":{
            "avg-makespan":1
        }
    }
}
