{
    "configs":[
        {
            "file":"test-checkpointing1.config",
            "checkpoints":{
                "start":"real:0-00:10:00",
                "keep":"4",
                "stagger":"00:02:00",
                "count":5
            },
            "starts":"1-4",
            "compare":"makespan.csv"

        },
        {
            "file":"test-checkpointing2.config",
            "checkpoints":{
                "start":"real:0-01:00:00",
                "keep":"2",
                "stagger":"00:05:00",
                "count":5
            },
            "starts":"1-2",
            "compare":"post_out_jobs.csv"

        },
        {
            "file":"test-checkpointing3.config",
            "checkpoints":{
                "start":"real:0-00:30:00",
                "keep":"1",
                "stagger":"00:10:00",
                "count":5
            },
            "starts":"1",
            "compare":"makespan.csv"

        }
    ]
}
